<header class="container" role = "navigation">
  <div class = 'navbar-brand navbar-default glyphicon' >Логотип </div>
  <ul class = "nav nav-pills pull-right">
    <li><a href="#">Личный кабинет</a></li>
    <li class = "active"><a href="#">Подать объявление</a></li>
  </ul>
</header>