<header class="container" role = "navigation">
  <div class = 'navbar-brand navbar-default glyphicon' >Логотип </div>
  <ul class = "nav nav-pills pull-right">
    <li class="dropdown">
      <a class="dropdown-toggle" data-toggle="dropdown" href="#">Личный кабинет
        <b class="caret"></b>
      </a>
      <ul class="dropdown-menu">
        <% if signed_in? %>
            <li class="divider"></li>
            <li>
                <%= link_to 'Выйти', destroy_profile_session_path, :method => :delete %>
            </li>
        <% else %>
            <li>
                <%= link_to 'Войти', new_profile_session_path %>
            </li>
            <li>
                <%= link_to 'Зарегистрироваться', new_profile_registration_path %>
            </li>
        <%end%>
      </ul>
    </li>
    <li class = "active"><a href= <%=new_ad_url%>>Подать объявление</a></li>
  </ul>
</header>